# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# temporary files
*.swp
*.swo
*~
tags

# build directory
*build*/

# JetBrains IDE folder
.idea

# test artifacts
test/std*.txt
examples
linux-build
build_coverage
docker
check_loc.sh
todo.md
*.aux
*.lof
*.lol
*.log
*.lot
*.toc
